#header-principal .header h1 {
    font-family: "stagBold", Helvetica, Arial, sans-serif;
    color: #CC9A69;
    font-size: 14px;
    float: left;
    width: 310px;
    margin-top: 5px;
}
#header-principal .header .logo {
    padding: 0px 0;
    width: 170px;
    float: right;
}
#header-principal {
	border-bottom: 3px solid #8E6B49;
}
#contentPrincipal .contenido h3.title {
    color: #000;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    margin-left: 50px;
    margin-right: 50px;
}
#contentPrincipal .contentFicha {
    background: transparent;
    border: 0;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    padding: 0px;
}
#contentPrincipal .contentFicha .reporte {
    font-size: 12px;
    padding: 30px 6px 0;
}
/* Cuadro */
.cuadrado {
	width: 100px; 
    height: 120px; 
    border: 1px solid #000;
    display: inline-block;
    float: right;
}
.cuadrado p{
	font-size: 10px;
	text-align: center;
	color: #999;
	padding-top: 3px;
}
.leyenda {
    font-size: 10px;
    color: #808080;
    display: inline-block;
    margin-top: 20px;
}
.screen
{
	visibility: hidden;
	display: none;
}

.print
{
	visibility: visible !important;
	display: block !important;
}
